// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer
.pottervvoldermort {
  background: url(../images/pottervvoldermort.jpg) 0 0 no-repeat;
  background-size: cover;
}
.skywalkervvader {
  background: #000 url(../images/skywalkervvader.jpg) 50% 50% no-repeat;
  background-size: auto 100%;
}
.scandelous {
  background: url(../images/scandelous.png) 0 0 no-repeat;
  background-size: contain;
}
.lunar {
  background: url(../images/lunar.jpg) 50% 75% no-repeat;
  background-size: cover;
}
.space {
  background: url(../images/space.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.tab {
  background: url(../images/tab.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.tab2 {
  background: url(../images/tab2.jpg) 50% 50% no-repeat;
  background-size: cover;
  .bespoke-active {
    justify-content: flex-start;
    h1 {
      margin-top: 30px;
      text-shadow: 1px 1px 1px #fff;
      color: #000
    }
  }
}
.dramaticpause {
  background: url(../images/dramaticpause.jpg) 50% 50% no-repeat;
  background-size: cover;
  .bespoke-active {
    justify-content: flex-start;
    h1 {
      margin-top: 20px;
    }
  }
}
